#square_1 {
    border: 7px double black;   
    background-color: beige;            
    width: 450px;
    height: 450px;
    margin: auto;
    position: relative;
}

#menu_1 {
    border: 5px double black;               
    width: 425px;
    height: 150px;
    left: 12px;
    bottom: 13px;
    background-color: beige;
    position: absolute;
    box-sizing: border-box;
}

#back_1 {
    left: 10px;
    top: 11px;
    width: 429px;
    height: 264px;
    border: 2px solid black;
    position: absolute;
    box-sizing: border-box;
}

.rdpoke {
    position: absolute;
    border-radius: 50%;
    left: 34px;
    top: 28px;
    cursor: pointer;
}

.rdresult {
    position: absolute;
    left: 170px;
    top: 30px;
}

.firstPokemon {
    width: 100%;
}

.dialogue {
    position: absolute;
    right: 30px;
    top: 100px;
}

#square_2 {
    border: 7px double black;   
    background-color: beige;            
    width: 450px;
    height: 450px;
    margin: auto;
    position: relative;
    display: none;
}

#menu_2 {
    border: 5px double black;               
    width: 425px;
    height: 150px;
    left: 12px;
    bottom: 13px;
    background-color: beige;
    position: absolute;
    box-sizing: border-box;
}

#back_2 {
    left: 10px;
    top: 11px;
    width: 429px;
    height: 264px;
    border: 2px solid black;
    position: absolute;
    box-sizing: border-box;
}

#pokemon_back {
    left: 88px;
    bottom: 200px;
    position: absolute;
}

#pokemon_front {
    right: 79px;
    top: 105px;
    position: absolute;
}

.menu_2_1 {
    position: absolute;
    left: 4px;
    top: 7px;
    width: 180px;
    height: 50px;
    text-align: center;
}

.menu_2_2 {
    position: absolute;
    right: 24px;
    top: 7px;
    width: 180px;
    height: 50px;
    text-align: center;
}

.menu_2_3 {
    position: absolute;
    left: 4px;
    bottom: 17px;
    width: 180px;
    height: 50px;
    text-align: center;
}

.menu_2_4 {
    position: absolute;
    right: 24px;
    bottom: 17px;
    width: 180px;
    height: 50px;
    text-align: center;
}

.btn {
    /* background-color: rgb(162, 161, 155); */
    border: 2px solid #050505;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    color: rgb(25, 25, 25);
    cursor: pointer;
}

.btn:hover {
    background: transparent;
    color: #161616;
}

.btn:active {
background-color: #d9d981;
box-shadow: 0 2px rgb(152, 152, 152);
transform: translateY(4px);
}

#baglist {
    left: 10px;
    top: 11px;
    width: 429px;
    height: 264px;
    border: 2px solid black;
    position: absolute;
    box-sizing: border-box;
    display: none;
}

#crossmark {
    right: 0px;
    top: 0px;
    position: absolute;
    cursor: pointer;
}
/* 
#square_side {
    border: 7px double black;   
    background-color: white;            
    width: 150px;
    height: 400px;
    position: absolute;
    margin-left: auto;
} */