@charset "UTF-8";
/* layout.css */
@font-face {
  font-family: 'Rix짱구-M';
  src: url('Rix짱구-M.woff') format('woff');
}
input.password {
	color: #000000;
}
body {
  font: 20px 'Rix짱구-M', sans-serif;
  line-height: 1.8;
  color: #000000;
  font-family: 'Rix짱구-M';
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
#background { 
  background-image: url("../images/shinback2.jpg");
  background-size: cover;
  color: #000000;
}
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #000000;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0; 
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}